body{
  background-color: #edebeb;
  display: grid;
  place-items: center;
}



header{
  width: 100%;
  background-color: white;
}


.cabeza{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}


.img_call{
  width: 40px;
  align-items: center;
} 
/* CELULAR */
@media (max-width: 430px) {
  .img_call {
    
    width: 20px;

   }
  }
  

.call_center{
  font-size: 19px;
  text-align: justify;
}

@media (max-width: 430px) {
  .call_center {
    
    font-size: 8px;

   }
  }

.call{
  width: 200px;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #21c824;
  border: 10px;
  border-radius: 10px;
  align-items: center;
}

@media (max-width: 430px) {
  .call {
    
   width: 100px;

   }
  }

 h1{
  color: #008EE5;
}

@media (max-width: 430px) {
  h1 {
    
    font-size: 15px;

   }
  }

.img_logos{
  width: 150px;
}


@media (max-width: 430px) {
  .img_logos {
    
    width: 110px;

   }
  }


.alert{
  display: grid;
  grid-template-columns: 20% 80%;
  width: 80%;
  background-color: rgb(96, 93, 96);
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 960px) {
  .alert {
    width: 850px ;

   }
  }



@media (max-width: 430px) {
  .alert {
    width: 350px ;
    display: grid;  
    grid-template-columns: 1fr;
    justify-content: center;
   justify-items: center;
    /* width: 350px; */

   }
  }



.alert_info {
  /* display: block; */
  color: white;
  font-size: 22px;
  text-align: justify;
  
}

@media (max-width: 960px) {
  .alert_info {
    font-size: 16px;
    text-align: justify;

   }
  } 


@media (max-width: 430px) {
 .alert_info {
   font-size: 8.5px;
   text-align: justify;
   height: 55px;
  }
}

.img_alert{
  width: 200px;
  height: 150px;
}

/* TABLET */
@media (max-width: 960px) {
  .img_alert {
    width: 150px;
    height: 110px;
   }
 }


@media (max-width: 430px) {
  .img_alert {
    width: 40px;
    height: 50px;
   }
 }

  .container{
    margin-top: 50px; 
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: white;
  }
  
  .info {
    background: #008EE5;
    border-radius:0px 15px 15px 0px;
    width: 425px;
    margin-top: 50px;
  }
  
  
  @media (max-width: 430px) {
    .info {
      
      width: 250px;
      height: 40px;
  
     }
    }
  
  .info h3{
    font-size: 20px;
    color: white;
    margin: 20px;
  }
  
  
  @media (max-width: 430px) {
    .info h3 {
      
      font-size: 15px;
  
     }
    }
  
      /* -------------------- */
    
    .wrapper{
        text-align: center;
    }

    .verificado{
      margin-top: 20px;
      width: 90px;
    }

    @media (max-width: 430px) {
      .verificado {
        width: 70px;
    
       }
      }

    .info_actualizacion{
      color: black;
      font-size: 35px;
    }

    @media (max-width: 430px) {
      .info_actualizacion {
        font-size: 25px;;
    
       }
      }





    /* ------------ */

    .desc{
      color: rgb(96, 93, 96);
    }
    
    
    @media (max-width: 430px) {
      .desc {
        text-align: center;
        font-size: 20px;
    
       }
      }
    
    .info_llamadas{
      display: grid;
      grid-template-columns: 50% 50%; 
      margin-top: 20px;
    }
    
    
    @media (max-width: 430px) {
      .info_llamadas {
        display: grid;
        grid-template-columns: 1fr;
    
       }
      }
    
    .llamadas{
      display: grid;
      grid-template-columns: 30% 70%; 
      align-items: center;
      background-color: white;
      border-radius:15px;
      margin-right: 30px;
      width: 150PX;
      margin-top: 10px;
    }
    
    @media (max-width: 960px) {
      .llamadas {
        
        width: 320px;
    
       }
      }
    
    @media (max-width: 430px) {
      .llamadas {
        
        width: 280px;
    
       }
      }
    
    .phone{
       width: 40px;
       align-items: center;
    }
    
    
    @media (max-width: 960px) {
      .phone {
        
        width: 75px;
    
       }
      }
    
      @media (max-width: 430px) {
        .phone {
          
          width: 50px;
      
         }
        }
    
    
    footer{
      margin-top: 50px;
      background-color: #008EE5;
      width: 100%;
      text-align: center;
      padding: 15px 0;
    }
    
    span{
      color: white;
    }